<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Available Table</mat-card-title>
  </mat-card-header>
  <hr />
  <mat-card-content>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="30%" *ngFor="let table of availableTables">
          <mat-card class="mat-elevation-z4">
            <mat-card-content>
              <p>Table: {{ table.table_number }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- class="d-flex justify-content-center-align-items-center" -->
