<block-ui>
  <div class="container pt-3" *ngIf="!openEditFoodOrder">
    <div class="table-container mat-elevation-z8">
      <table mat-table multiTemplateDataRows #table [dataSource]="foodItemList">
        <ng-container matColumnDef="order_no">
          <th mat-header-cell *matHeaderCellDef>Food Order</th>
          <td mat-cell *matCellDef="let element" class="bg-test">
            ORD-00{{ element.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element" class="bg-test">
            {{ element.updated_at | date: 'short' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Paid</th>
          <td mat-cell *matCellDef="let element" class="bg-test">
            <div>
              {{ element.food_order_lists[0].invoice_id ? 'Yes' : 'No' }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ordered_from">
          <th mat-header-cell *matHeaderCellDef>Ordered From</th>
          <td mat-cell *matCellDef="let element" class="bg-test">
            <div *ngIf="element.food_order_lists">
              <div *ngIf="element.food_order_lists[0].room_id; else tableNo">
                Room No:
                {{ element.food_order_lists[0].room.room_number }}
              </div>
              <ng-template #tableNo>
                Table No:
                {{ element.food_order_lists[0].table.table_number }}
              </ng-template>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let i = index" class="bg-test">
            <mat-icon
              *ngIf="ActionPermissions.Edit"
              matTooltip="Edit Order"
              class="text-secondary mr-2 pointed"
              (click)="editFoodOrder(element.id)"
              >create</mat-icon
            >
            <mat-icon
              *ngIf="ActionPermissions.Delete"
              matTooltip="Cancel Order"
              class="text-danger pointed"
              (click)="cancelFoodOrder(element.id)"
              >delete</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <div class="pb-5">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="foodOrderColumns.length"
            >
              <div class="mx-5">
                <table
                  #innerTables
                  mat-table
                  [dataSource]="element.food_order_lists"
                  class="innerTable mb-5"
                >
                  <ng-container matColumnDef="food_name">
                    <th mat-header-cell *matHeaderCellDef>Food Name</th>
                    <td mat-cell *matCellDef="let element">
                      <div *ngIf="element.food_items">
                        {{ element.food_items.food_name }}
                      </div>
                      <div *ngIf="element.coffee_items">
                        {{ element.coffee_items.coffee_name }}
                      </div>
                      <div *ngIf="element.bar_items">
                        {{ element.bar_name }}
                      </div>
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.price }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.quantity }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="total_amount">
                    <th mat-header-cell *matHeaderCellDef>Total Amount</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.total_amount }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="food_status">
                    <th mat-header-cell *matHeaderCellDef>Order Status</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-button-toggle-group
                        #group="matButtonToggleGroup"
                        value="{{ element.order_status }}"
                        (click)="updateOrderStatus(group.value, element)"
                        class="m-1"
                      >
                        <mat-button-toggle
                          value="ordered"
                          aria-label="Ordered"
                          matTooltip="Food is ordered"
                        >
                          <mat-icon>notifications_none</mat-icon>
                        </mat-button-toggle>

                        <mat-button-toggle
                          value="processing"
                          aria-label="Processing"
                          matTooltip="Food is on process"
                        >
                          <mat-icon>loop</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle
                          value="completed"
                          aria-label="Completed"
                          matTooltip="Food is ready"
                        >
                          <mat-icon>check_circle_outline</mat-icon>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-icon
                        *ngIf="ActionPermissions.Delete"
                        matTooltip="Cancel Food Order"
                        class="text-warning pointed"
                        (click)="cancelSingleFoodOrder(element)"
                        >delete</mat-icon
                      >
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="foodOrderListColumns"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: foodOrderListColumns"
                  ></tr>
                </table>
              </div>
            </td>
          </div>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="foodOrderColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: foodOrderColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
      </table>
    </div>

    <div class="pagination-footer mat-elevation-z8">
      <mat-paginator
        [length]="totalLength"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)"
        [pageSizeOptions]="pageSizeOptions"
      >
      </mat-paginator>
    </div>
  </div>

  <div class="container mt-5" *ngIf="openEditFoodOrder">
    <app-food-order
      [isEdit]="true"
      [foodOrderList]="foodOrderEdit"
      [foodOrderId]="foodOrderId"
      (closeFoodOrder)="hideFoodOrder($event)"
    >
    </app-food-order>
  </div>
</block-ui>
