<div class="main-div">
  <div class="top-section">
    <h3>Karnali Home</h3>
    <h4>Restaurant and Bar</h4>
  </div>
  <div fxLayout="row" class="main-content">
    <div
      fxFlex="25"
      class="left-section mx-2"
      fxLayout="column"
      fxLayoutGap="7px"
    >
      <div class="calender" fxFlex="40">
        <app-calender-today></app-calender-today>
      </div>
      <div class="side-detail" fxFlex="60">
        <app-staff-list *ngIf="showManagerSection"></app-staff-list>
        <app-side-order-overview
          *ngIf="showReceptionSection || showWaiterSection"
        ></app-side-order-overview>
      </div>
    </div>
    <div
      fxFlex="75"
      class="right-section-1"
      *ngIf="showManagerSection || showReceptionSection"
      fxLayout="column"
      fxLayoutGap="15px"
    >
      <div fxFlex="30" class="available-detail">
        <app-available-detail
          *ngIf="showManagerSection || showReceptionSection"
        ></app-available-detail>
      </div>
      <div fxFlex="70" class="overview-transaction-detail" fxLayout="row">
        <div class="revenue" fxFlex="50">
          <app-revenue-today *ngIf="showManagerSection"></app-revenue-today>
          <app-available-room *ngIf="showReceptionSection"></app-available-room>
        </div>
        <div class="revenue-chart" fxFlex="50">
          <app-available-table
            *ngIf="showReceptionSection"
          ></app-available-table>
        </div>
      </div>
    </div>
    <div
      fxFlex="75"
      class="right-section-2"
      *ngIf="showWaiterSection"
      fxLayout="column"
      fxLayoutGap="15px"
      style="background-color: red"
    ></div>
  </div>
</div>
