<div class="row">
  <div class="col-lg-6 col-md-0">
    <div class="welcome-content">
      <h1>Karnali Home</h1>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-xs-12 form-content">
    <div class="loginForm">
      <div class="welcome-img-container">
        <img src="../../assets/images/welocme.gif" />
      </div>
      <form #loginForm="ngForm" (ngSubmit)="submitLogin()" class="example-form">
        <h2>SIGN UP</h2>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            name="username"
            placeholder="Enter Username"
            [(ngModel)]="user.username"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            name="password"
            placeholder="Enter Password"
            [(ngModel)]="user.password"
            required
          />
        </mat-form-field>

        <button
          [disabled]="!loginForm.valid"
          mat-raised-button
          type="submit"
          color="primary"
        >
          LOGIN
        </button>
      </form>
    </div>
  </div>
</div>

<!-- </div> -->
