<div class="row">
  <div class="col-lg-6 col-md-0">
    <div class="welcome-content">
      <video width="90%" height="100%" autoplay loop>
        <source src="../../assets/videos/login-clip.mp4" type="video/mp4" />
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-xs-12 form-content">
    <div class="loginForm">
      <div class="welcome-img-container">
        <img src="../../assets/images/welocme.gif" />
      </div>
      <form #loginForm="ngForm" (ngSubmit)="submitLogin()" class="example-form">
        <h2>SIGN UP</h2>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            name="email"
            placeholder="Enter Username"
            [(ngModel)]="user.email"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="passwordHide ? 'password' : 'text'"
            name="password"
            placeholder="Enter Password"
            [(ngModel)]="user.password"
            required
          />
          <a
            mat-icon-button
            matSuffix
            (click)="passwordHide = !passwordHide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="passwordHide"
          >
            <mat-icon>{{
              passwordHide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </a>
        </mat-form-field>

        <button
          [disabled]="!loginForm.valid"
          mat-raised-button
          type="submit"
          color="primary"
        >
          LOGIN
        </button>
      </form>
    </div>
  </div>
</div>

<!-- </div> -->
