<block-ui>
  <div class="container">
    <button mat-raised-button class="button-blue" (click)="addCustomer()">
      <mat-icon>add</mat-icon>
      Add Customer
    </button>

    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.first_name }}
            {{ element.middle_name ? element.middle_name : '' }}
            {{ element.last_name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let element">{{ element.country }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>

        <ng-container matColumnDef="date_of_birth">
          <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date_of_birth }}
          </td>
        </ng-container>

        <ng-container matColumnDef="profession">
          <th mat-header-cell *matHeaderCellDef>Profession</th>
          <td mat-cell *matCellDef="let element">{{ element.profession }}</td>
        </ng-container>

        <ng-container matColumnDef="identity_type">
          <th mat-header-cell *matHeaderCellDef>Identity Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.identity_type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="identity_number">
          <th mat-header-cell *matHeaderCellDef>Identity Number</th>
          <td mat-cell *matCellDef="let element">
            {{ element.identity_number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="identity_image_first">
          <th mat-header-cell *matHeaderCellDef>Identity Image First</th>
          <td mat-cell *matCellDef="let element">
            <img
              src="{{ element.identity_image_first }}"
              alt="identity image first"
              height="50px"
              width="50px"
            />
            &nbsp;
            <img
              src="{{ element.identity_image_second }}"
              alt="identity image second"
              height="50px"
              width="50px"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon
              *ngIf="ActionPermissions.Edit"
              matTooltip="Edit Customer"
              class="text-secondary mr-2 pointed"
              (click)="editCustomer(element)"
              >create</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="pagination-footer mat-elevation-z8">
      <mat-paginator
        [length]="totalLength"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)"
        [pageSizeOptions]="pageSizeOptions"
      >
      </mat-paginator>
    </div>
  </div>
</block-ui>
