.mat-raised-button {
  margin-top: 10px;
}

.mat-form-field {
  display: inline;
}

mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
  padding-right: 24px;
  padding-top: 15px;
}
table.mat-table {
  width: 100%;
}
.datepickerIO {
  width: 150px;
}

// For table expansion
tr.transaction-detail-row {
  height: 0;
}

.transaction-element-detail {
  overflow: hidden;
  padding-left: 50px;
}

// table inside expansion
.table td,
.table th {
  padding: 0.5rem;
  color: #757575;
  font-size: 13px;
}

.noDataFound {
  height: 80px;
  padding: 15px 0px;
  width: 100%;
  .noRecordsMessage {
    text-align: center;
  }
}
