<block-ui>
  <h2 *ngIf="addForm">Select Reservation</h2>
  <h2 *ngIf="editForm">Edit Transaction</h2>
  <form #formReservation="ngForm" (ngSubmit)="submitRoomTransactionForm()">
    <div class="main-add-selector" *ngIf="addForm">
      <div class="main-selector">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Customer</mat-label>
          <mat-select
            name="room_number"
            [(ngModel)]="roomTransaction.customer_id"
            (ngModelChange)="onCustomerSelect($event)"
          >
            <mat-option
              *ngFor="let customer of customers"
              [value]="customer.id"
            >
              {{ customer.first_name }}
              {{ customer.middle_name }}
              {{ customer.last_name + '  ( ' + customer.phone + ' )' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="main-content" *ngIf="roomList">
        <div class="charges" fxLayout="row" fxLayoutGap="20px">
          <div class="discount" fxFlex>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Discount in (%)</mat-label>
              <input
                type="number"
                matInput
                name="discount"
                placeholder="Discount"
                [(ngModel)]="roomTransaction.discount"
                min="0"
              />
            </mat-form-field>
          </div>
          <div class="service-tax" fxFlex>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Service charge in (%)</mat-label>
              <input
                type="number"
                matInput
                name="service-tax"
                placeholder="Service Charge"
                [(ngModel)]="roomTransaction.service_tax"
                min="0"
              />
            </mat-form-field>
          </div>
        </div>

        <section class="row">
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            multiTemplateDataRows
          >
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (change)="$event ? masterToggle($event) : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [color]="primaryColor"
                  >All
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [color]="primaryColor"
                >
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="room_number">
              <th mat-header-cell *matHeaderCellDef>Room Number</th>
              <td mat-cell *matCellDef="let element">
                {{ element.room_number }}
              </td>
            </ng-container>
            <ng-container matColumnDef="check_in_date">
              <mat-header-cell *matHeaderCellDef>
                <mat-label>CheckIn Date</mat-label>
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field appearance="outline" class="datepickerIO">
                  <input
                    matInput
                    [matDatepicker]="pickerI_i"
                    name="check_in_date[{{ i }}]"
                    [(ngModel)]="element.check_in_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerI_i"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerI_i></mat-datepicker>
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="room_category">
              <th mat-header-cell *matHeaderCellDef>Room Category</th>
              <td mat-cell *matCellDef="let element">
                {{ element.room_category }}
              </td>
            </ng-container>
            <ng-container matColumnDef="check_out_date">
              <mat-header-cell *matHeaderCellDef>
                <mat-label>CheckOut Date</mat-label>
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field appearance="outline" class="datepickerIO">
                  <input
                    matInput
                    [matDatepicker]="pickerO_i"
                    name="check_out_date[{{ i }}]"
                    [(ngModel)]="element.check_out_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerO_i"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerO_i></mat-datepicker>
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="view_foods">
              <th mat-header-cell *matHeaderCellDef>View Foods</th>
              <td mat-cell *matCellDef="let element">
                <a
                  mat-button
                  href="javascript:void()"
                  (click)="expandTable(element)"
                  >View Foods
                </a>
              </td>
            </ng-container>
            <!-- Expanded Content Column - The detail row is made up of this one column -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let detail"
                [attr.colspan]="displayedColumns.length"
              >
                <div
                  class="row transaction-element-detail"
                  [@detailExpand]="detail.isExpanded ? 'expanded' : 'collapsed'"
                >
                  <table
                    class="table table-striped"
                    *ngIf="displayFood; else noOrder"
                  >
                    <thead>
                      <tr>
                        <th>Food</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Sub Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itemDetail of itemDetails">
                        <td>{{ itemDetail.item_name }}</td>
                        <td>{{ itemDetail.quantity }}</td>
                        <td>{{ itemDetail.price }}</td>
                        <td>{{ itemDetail.total_amount }}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="3" style="text-align: right">Total:</th>
                        <th>{{ food_total_amount }}</th>
                      </tr>
                    </tfoot>
                  </table>
                  <ng-template #noOrder>
                    <div class="noDataFound">
                      <p class="noRecordsMessage">No food order is made.</p>
                    </div>
                  </ng-template>
                </div>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="transaction-element-row"
              [class.transaction-expanded-row]="element.isExpanded"
            ></tr>
            <!-- Extra row to show detail content column -->
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="transaction-detail-row"
            ></tr>
          </table>
        </section>
      </div>
    </div>

    <div class="main-edit-selector" *ngIf="editForm">
      <div class="main-section">
        <mat-accordion>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Room No: {{ ' ' + roomTransaction.room_number }}
              </mat-panel-title>
              <mat-panel-description>
                Room Category: {{ ' ' + roomTransaction.room_category + ' ' }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>CheckIn Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker_i"
                    name="check_in_date"
                    [(ngModel)]="roomTransaction.check_in_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker_i"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker_i></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>CheckOut Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="i_picker"
                    name="check_out_date"
                    [(ngModel)]="roomTransaction.check_out_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="i_picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #i_picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <button mat-raised-button type="submit" color="primary">CREATE</button>
  </form>

  <app-room-transaction #roomTransactionDirectory fxHide></app-room-transaction>
</block-ui>
