<h2>Add New Room Category</h2>
<form #formHotel="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Room Category</mat-label>
    <input matInput name="category.room_category" placeholder="Enter Room Category" [value]="category.room_category"
      required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Room Type</mat-label>
    <input matInput name="category.room_type" placeholder="Enter Single, Double or Triple Bed"
      [value]="category.room_type" required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Room Number</mat-label>
    <input matInput name="category.number_of_rooms" placeholder="Number of Rooms" [value]="category.number_of_rooms"
      required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Room Price</mat-label>
    <input matInput name="category.room_price" placeholder="Enter Room Price" [value]="category.room_price" required />
  </mat-form-field>

  <input #imageFile type="file" accept="image/*" name="image" placeholder="Room image"
    (change)="onSelectedFiles(imageFile)" />

  <button [disabled]="!formHotel.valid" mat-raised-button type="submit" color="primary">
    CREATE
  </button>
</form>
