.container {
  padding: 0 5px;
  min-width: 98%;
  margin: 12px;
}

.mat-raised-button {
  margin-left: 10px;
}

.mat-raised-button {
  margin-left: 10px;
}

.mat-form-field {
  width: 100%;
}

.button-blue {
  color: #fff;
  background-color: #1abb9c;
  margin: 20px 0;
  margin-left: 10px;
}

table.mat-table {
  width: 100%;
}

// table td {
//   padding: 0px;
// }
.available-room {
  margin-top: 20px;
}

/* td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
*/
.table-container {
  width: 100%;
  height: 396px;
  overflow: auto;
}

.paginator {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}
