.container {
  padding: 0 5px;
  min-width: 98%;
  margin: 12px;
}

.mat-raised-button {
  margin-left: 10px;
}

.button-blue {
  color: #fff;
  background-color: #1abb9c;
  margin: 20px 0;
}

table.mat-table {
  width: 100%;
}
