.example-card {
  height: 100%;
  margin: 5px;
}

.mat-card {
  border-radius: 0;

  .mat-card-content,
  .mat-card-header {
    text-align: center;
    h5 {
      width: 100%;
    }
  }
}

::ng-deep .mat-card-header-text {
  margin: 0;
}
