.header {
  text-align: center;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

// .wrapper {
//   -ms-transform: rotate(-90deg); /* IE 9 */
//   transform: rotate(-90deg);
//   margin: 0;
// }

th,
td {
  border: 1px solid #0000008a;
  padding: 5px;
}

th {
  color: #0000008a;
}

td {
  text-align: center;
}
.total-amount {
  color: #0000008a;
  text-align: center;
}

.footer-text {
  text-align: center;
}

@media print {
  .breakHere {
    page-break-before: always;
  }
}
