<block-ui>
  <h2 *ngIf="addForm">Add New Reservation</h2>
  <h2 *ngIf="editForm">Edit Reservation</h2>
  <form #formReservation="ngForm" (ngSubmit)="submitReservationForm()">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Customer Full Name</mat-label>
      <mat-select
        name="customer"
        [(ngModel)]="reservation.customer_id"
        (ngModelChange)="getAssigedRoomForBooking(reservation.customer_id)"
        [disabled]="editForm"
      >
        <mat-option *ngFor="let customer of customers" [value]="customer.id">
          {{ customer.first_name }}
          {{ customer.middle_name }}
          {{ customer.last_name + '  ( ' + customer.phone + ' )' }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <section class="row" *ngIf="editForm">
      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Room Category</mat-label>
          <mat-select
            name="room_category"
            [(ngModel)]="reservation.room_category_id"
            (ngModelChange)="getRoomByCategory($event)"
          >
            <mat-option
              *ngFor="let roomCategory of roomCategories"
              [value]="roomCategory.id"
            >
              {{
                roomCategory.room_category +
                  ' ( ' +
                  roomCategory.room_type +
                  ' ) '
              }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Room Number</mat-label>
          <mat-select
            name="room_number"
            [(ngModel)]="reservation.room_id"
            (ngModelChange)="getRoomNumber($event)"
          >
            <mat-option *ngFor="let room of roomList" [value]="room.id">{{
              room.room_number
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>CheckIn Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            name="checkIn_date"
            required
            [(ngModel)]="reservation.check_in_date"
            (ngModelChange)="
              getCheckInDate(
                $event,
                reservation.room_id,
                reservation.room_number,
                0
              )
            "
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>CheckOut Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            name="checkOut_date"
            required
            [(ngModel)]="reservation.check_out_date"
            (ngModelChange)="
              getCheckOutDate(
                $event,
                reservation.room_id,
                reservation.room_number,
                0
              )
            "
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Number of Adult</mat-label>
          <input
            type="number"
            matInput
            name="number_of_adult"
            placeholder="Number of Adult"
            [(ngModel)]="reservation.number_of_adult"
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Number of Child</mat-label>
          <input
            type="number"
            matInput
            name="number_of_child"
            placeholder="Number of Child"
            [(ngModel)]="reservation.number_of_child"
          />
        </mat-form-field>
      </div>
    </section>

    <div class="room-list" *ngIf="addForm">
      <div *ngFor="let room of availableRoom; let i = index">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Room No: {{ ' ' + room.room_number }}
              </mat-panel-title>
              <mat-panel-description>
                Room Category:
                {{ ' ' + room.room_category.room_category + ' ' }}
                <div
                  *ngIf="
                    reservationDates[i].check_in_date.getDate != undefined &&
                    reservationDates[i].check_out_date.getDate != undefined
                  "
                >
                  <mat-icon class="check-icon">check</mat-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>CheckIn Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker_i"
                    name="reservationDates[{{ i + 1 }}].check_in_date"
                    [(ngModel)]="reservationDates[i].check_in_date"
                    (ngModelChange)="
                      getCheckInDate($event, room.id, room.room_number, i)
                    "
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker_i"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker_i></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>CheckOut Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="i_picker"
                    name="reservationDates[{{ i + 1 }}].check_out_date"
                    [(ngModel)]="reservationDates[i].check_out_date"
                    (ngModelChange)="
                      getCheckOutDate($event, room.id, room.room_number, i)
                    "
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="i_picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #i_picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Number of Adult</mat-label>
                  <input
                    type="number"
                    matInput
                    name="reservationDates[{{ i + 1 }}].number_of_adult"
                    placeholder="Number of Adult"
                    [(ngModel)]="reservationDates[i].number_of_adult"
                  />
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Number of Child</mat-label>
                  <input
                    type="number"
                    matInput
                    name="reservationDates[{{ i + 1 }}].number_of_child"
                    placeholder="Number of Child"
                    [(ngModel)]="reservationDates[i].number_of_child"
                  />
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <button
      [disabled]="disableButton == true"
      mat-raised-button
      type="submit"
      color="primary"
    >
      CREATE
    </button>
  </form>
</block-ui>
