.example-full-width {
  width: 100%;
}
input {
  width: 100%;
}

h2 {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.mat-radio-button {
  width: 50%;
}

.mat-raised-button {
  margin-top: 10px;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  margin-bottom: 7px !important;
}

.check-icon {
  color: green;
}
