.container {
  padding: 0 5px;
  min-width: 98%;
  margin: 12px;
}

/* .main-container {
  height: max-content;
  width: 100%;
  overflow: auto;
} */

.mat-raised-button {
  margin-left: 10px;
}

.mat-form-field {
  width: 100%;
}

.button-blue {
  color: #fff;
  background-color: #1abb9c;
  margin: 20px 0;
  margin-left: 10px;
}

table.mat-table {
  width: 100%;
}

.available-room {
  margin-top: 20px;
}

table td {
  padding: 0 10px;
}

.table-container {
  width: 100%;
  height: 396px;
  overflow: auto;
}
