<block-ui>
  <div class="container">
    <div class="main-container">
      <div class="row">
        <div class="col-lg-4">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Check Room Availablility </mat-card-title>
              <mat-card-subtitle>Room Category</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <form #formHotel="ngForm" (ngSubmit)="submitRoomAvailableForm()">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>CheckIn Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker1"
                    name="checkIn_date"
                    required
                    [(ngModel)]="roomAvailable.check_in_date"
                    (ngModelChange)="getCheckInDate($event)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>CheckOut Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker2"
                    name="checkOut_date"
                    required
                    [(ngModel)]="roomAvailable.check_out_date"
                    (ngModelChange)="getCheckOutDate($event)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button 
                  [disabled]="disableButton == true"
                  class="button-blue">
                  <mat-icon>view_list</mat-icon>
                  Available Room
                </button>
              </form>
            </mat-card-content>
          </mat-card>
          <div class="main-container mat-elevation-z8">
            <table
              class="available-room"
              #roomAvailableTable
              mat-table
              [dataSource]="roomAvailableDataSource"
            >
              <ng-container matColumnDef="room_category">
                <th mat-header-cell *matHeaderCellDef>Room Category</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.category }}
                </td>
              </ng-container>

              <ng-container matColumnDef="room_type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.type }}
                </td>
              </ng-container>

              <ng-container matColumnDef="room_number">
                <th mat-header-cell *matHeaderCellDef>Room Number</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.room_number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="room_price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.price }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="roomAvailableColumns; sticky: true"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: roomAvailableColumns"
              ></tr>
            </table>
          </div>
        </div>
        <div class="col-lg-8">
          <button mat-raised-button class="button-blue" (click)="addCustomer()">
            <mat-icon>add</mat-icon>
            Add Customer
          </button>
          <button
            mat-raised-button
            class="button-blue"
            (click)="addReservation()"
          >
            <mat-icon>add</mat-icon>
            Add Reservation
          </button>

          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. ium"
            />
          </mat-form-field>

          <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- <ng-container matColumnDef="booking_id" sticky>
                <th mat-header-cell *matHeaderCellDef>Booking Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.booking_id }}
                </td>
              </ng-container> -->

              <ng-container matColumnDef="room_id">
                <th mat-header-cell *matHeaderCellDef>Room Number</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.room_number }}
                </td>
              </ng-container>
              <ng-container matColumnDef="room_category_id">
                <th mat-header-cell *matHeaderCellDef>Room Category</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.room_category }}
                  ({{ element.room_type }})
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="customer_id">
                <th mat-header-cell *matHeaderCellDef>Full Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.first_name }}
                  {{ element.middle_name }}
                  {{ element.last_name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="customer_email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.email }}
                </td>
              </ng-container>

              <ng-container matColumnDef="customer_phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.phone }}
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="booking_id">
                <th mat-header-cell *matHeaderCellDef>Booking ID</th>
                <td mat-cell *matCellDef="let element">{{ element.booking_id }}</td>
              </ng-container> -->

              <ng-container matColumnDef="check_in_date">
                <th mat-header-cell *matHeaderCellDef>Check In Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.check_in_date | date: "medium" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="check_out_date">
                <th mat-header-cell *matHeaderCellDef>Check Out Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.check_out_date | date: "medium" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <mat-icon
                    matTooltip="Edit Reservation"
                    class="text-secondary mr-2 pointed"
                    (click)="editReservation(element)"
                    >create</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <div class="pagination-footer mat-elevation-z8">
            <mat-paginator
              [length]="totalLength"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              (page)="onPageChange($event)"
              [pageSizeOptions]="pageSizeOptions"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>
