.container {
  padding: 0 5px;
  min-width: 98%;
  margin: 12px;
}

/* .main-container {
  height: max-content;
  width: 100%;
  overflow: auto;
} */

.mat-raised-button {
  margin-left: 10px;
}

.mat-form-field {
  width: 100%;
}

.button-blue {
  color: #fff;
  background-color: #1abb9c;
  margin: 20px 0;
  margin-left: 10px;
}

table.mat-table {
  width: 100%;
}

.available-room {
  margin-top: 20px;
}

table td {
  padding: 0 10px;
}

/* 
.example-container {
  height: 400px;
  width: 550px;
  overflow: auto;
}

table {
  width: 800px;
}

td.mat-column-action {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-bookind_id,
td.mat-column-bookind_id {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
} */
