<h2>Add New Customer</h2>
<form #formHotel="ngForm" (ngSubmit)="submitCustomerForm()">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer First Name</mat-label>
    <input matInput name="first_name" placeholder="Enter Customer First Name" [(ngModel)]="customer.first_name"
      required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Middle Name</mat-label>
    <input matInput name="middle_name" placeholder="Enter Customer Middle Name" [(ngModel)]="customer.middle_name" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Last Name</mat-label>
    <input matInput name="last_name" placeholder="Enter Customer Last Name" [(ngModel)]="customer.last_name" required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Country</mat-label>
    <input matInput name="country" placeholder="Enter Your Country Name" [(ngModel)]="customer.country" required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput name="address" placeholder="Enter Your Address" [(ngModel)]="customer.address" required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Email</mat-label>
    <input matInput type="email" name="price" placeholder="Enter Customer Email" [(ngModel)]="customer.email" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Phone</mat-label>
    <input matInput type="telephone" name="phone" placeholder="Enter Customer Phone" [(ngModel)]="customer.phone"
      required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Date of Birth</mat-label>
    <input matInput type="date" name="date_of_birth" placeholder="Enter Customer Date"
      [(ngModel)]="customer.date_of_birth" required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Profession</mat-label>
    <input matInput name="profession" placeholder="Enter Customer Profession" [(ngModel)]="customer.profession"
      required />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Identity Type</mat-label>
    <mat-select [(ngModel)]="customer.identity_type" name="identity_type" required>
      <mat-option *ngFor="let identity_type of identityType | keyvalue: orderMaintain" [value]="identity_type.value">
        {{ identity_type.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Identity Number</mat-label>
    <input matInput name="identity_number" placeholder="Enter Customer's Identity number"
      [(ngModel)]="customer.identity_number" required />
  </mat-form-field>

  <label for="imageFile">Upload Image</label>
  <input #imageFile type="file" accept="image/*" name="identity_image_first" placeholder="Room image" multiple
    (change)="onSelectedFiles(imageFile)" required />

  <button [disabled]="!formHotel.valid || !otherValidation" mat-raised-button type="submit" color="primary">
    CREATE
  </button>
</form>