<h2>Add New Reservation</h2>
<form #formHotel="ngForm" (ngSubmit)="submitReservationForm()">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Name</mat-label>

    <mat-select
      [(ngModel)]="reservation.customer_id"
      name="customer_id"
      required
    >
      <mat-option *ngFor="let customer of customer" [value]="customer.id">
        {{ customer.first_name }} {{ customer.middle_name }}
        {{ customer.last_name }} ({{
          customer.customer_type === "1" ? "Reserved" : "Booking"
        }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Room</mat-label>

    <mat-select
      [(ngModel)]="reservation.room_id"
      name="room_category_id"
      required
    >
      <mat-option *ngFor="let room of room" [value]="room.id">
        {{ room.room_number }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Check In Date</mat-label>
    <input
      type="date"
      matInput
      name="check_in_date"
      placeholder="Enter Check In Date"
      [(ngModel)]="reservation.check_in_date"
      required
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Check Out Date</mat-label>
    <input
      type="date"
      matInput
      name="check_out_date"
      placeholder="Enter Check Out Date"
      [(ngModel)]="reservation.check_out_date"
      required
    />
  </mat-form-field>

  <button
    [disabled]="!formHotel.valid"
    mat-raised-button
    type="submit"
    color="primary"
  >
    CREATE
  </button>
</form>
