<h2>Add New Room Category</h2>
<form #formHotel="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>First Name</mat-label>
    <input
      matInput
      name="first_name"
      placeholder="Enter First Name"
      [(ngModel)]="first_name"
      required
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Middle Name</mat-label>
    <input
      matInput
      name="middle_name"
      placeholder="Enter Middle Name"
      [(ngModel)]="middle_name"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      name="last_name"
      placeholder="Enter Last Name"
      [(ngModel)]="last_name"
      required
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      name="email"
      placeholder="Enter Email"
      [(ngModel)]="email"
      required
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Phone</mat-label>
    <input
      matInput
      name="phone"
      placeholder="Enter Phone"
      [(ngModel)]="phone"
      required
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Type</mat-label>
    <mat-select>
      <mat-option *ngFor="let customer of customers" [value]="customer.value">
        {{ customer.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    [disabled]="!formHotel.valid"
    mat-raised-button
    type="submit"
    color="primary"
  >
    CREATE
  </button>
</form>
