<block-ui>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Food Items">
      <div class="container">
        <button mat-raised-button class="button-blue" (click)="addFood()">
          <mat-icon>add</mat-icon>
          Add Food Items
        </button>

        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="mainFoodCategory">
              <th mat-header-cell *matHeaderCellDef>Main Food Category</th>
              <td mat-cell *matCellDef="let element">
                {{
                  element.main_food_category_id
                    ? element.main_food_category.main_food_name
                    : element.sub_food_category.main_food_category
                        .main_food_name
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="subFoodCategory">
              <th mat-header-cell *matHeaderCellDef>Sub Food Category</th>
              <td mat-cell *matCellDef="let element">
                {{
                  element.sub_food_category_id
                    ? element.sub_food_category.sub_food_name
                    : '-'
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="foodName">
              <th mat-header-cell *matHeaderCellDef>Food Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.food_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="header">
              <th mat-header-cell *matHeaderCellDef>Header</th>
              <td mat-cell *matCellDef="let element">
                {{
                  element.food_header_id ? element.food_header.food_header : '-'
                }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element">
                {{ element.price | currency: 'NPR ':'symbol' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon
                  *ngIf="ActionPermissions.Edit"
                  matTooltip="Edit Food"
                  class="text-secondary mr-2 pointed"
                  (click)="editFood(element)"
                  >create</mat-icon
                >
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <div class="pagination-footer mat-elevation-z8">
          <mat-paginator
            [length]="foodTotalLength"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            (page)="onPageChange($event)"
            [pageSizeOptions]="pageSizeOptions"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Main Food">
      <div class="container">
        <button mat-raised-button class="button-blue" (click)="addMainFood()">
          <mat-icon>add</mat-icon>
          Add Main Food Category
        </button>
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="mainFood">
            <ng-container matColumnDef="mainFoodCategory">
              <th mat-header-cell *matHeaderCellDef>Main Food Category</th>
              <td mat-cell *matCellDef="let element">
                {{ element.main_food_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon
                  matTooltip="Edit Main Food"
                  class="text-secondary mr-2 pointed"
                  (click)="editMainFood(element)"
                  >create</mat-icon
                >
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="mainFoodDisplayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: mainFoodDisplayedColumns"
            ></tr>
          </table>
        </div>
        <div class="pagination-footer mat-elevation-z8">
          <mat-paginator
            [length]="mainFoodTotalLength"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            (page)="onPageChange($event)"
            [pageSizeOptions]="pageSizeOptions"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Sub Food">
      <div class="container">
        <button mat-raised-button class="button-blue" (click)="addSubFood()">
          <mat-icon>add</mat-icon>
          Add Sub Food Category
        </button>
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="subFood">
            <ng-container matColumnDef="subFoodCategory">
              <th mat-header-cell *matHeaderCellDef>Sub Food Category</th>
              <td mat-cell *matCellDef="let element">
                {{ element.sub_food_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon
                  matTooltip="Edit Sub Food"
                  class="text-secondary mr-2 pointed"
                  (click)="editSubFood(element)"
                  >create</mat-icon
                >
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="subFoodDisplayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: subFoodDisplayedColumns"
            ></tr>
          </table>
        </div>
        <div class="pagination-footer mat-elevation-z8">
          <mat-paginator
            [length]="subFoodTotalLength"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            (page)="onPageChange($event)"
            [pageSizeOptions]="pageSizeOptions"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Food Header">
      <div class="container">
        <button mat-raised-button class="button-blue" (click)="addFoodHeader()">
          <mat-icon>add</mat-icon>
          Add Food Header
        </button>
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="foodHeader">
            <ng-container matColumnDef="foodHeader">
              <th mat-header-cell *matHeaderCellDef>Food Header</th>
              <td mat-cell *matCellDef="let element">
                {{ element.food_header }}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon
                  matTooltip="Edit Food Header"
                  class="text-secondary mr-2 pointed"
                  (click)="editFoodHeader(element)"
                  >create</mat-icon
                >
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="FoodHeaderDisplayedColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: FoodHeaderDisplayedColumns"
            ></tr>
          </table>
        </div>
        <div class="pagination-footer mat-elevation-z8">
          <mat-paginator
            [length]="foodHeaderTotalLength"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            (page)="onPageChange($event)"
            [pageSizeOptions]="pageSizeOptions"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</block-ui>
