.container {
  padding: 0 20px;
  min-width: 100%;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.main-food-card {
  background-color: #73879c77;
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;

  .main-food-checked {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.main-food-card:hover {
  box-shadow: 10px 10px 10px #88888890;
}
.main-food-card-selected {
  background-color: #73879c;
}

// Give color to header
// .mat-expansion-panel-header{
//   background-color: #73879c55 !important;
// }

// .mat-expansion-panel-header:hover{
//   background-color: #73879c77 !important;
// }

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
