<block-ui>
  <h2>Add Main Bar</h2>
  <form #formHotel="ngForm" (ngSubmit)="submitBarForm()">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Main Bar Name</mat-label>
      <input
        matInput
        name="bar_name"
        placeholder="Enter bar name"
        [(ngModel)]="bar.bar_name"
      />
    </mat-form-field>

    <button
      [disabled]="!formHotel.valid"
      mat-raised-button
      type="submit"
      color="primary"
    >
      CREATE
    </button>
  </form>
</block-ui>
